<!DOCTYPE html>
<html>
  <head>
    <title>Chat Chat</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div id="homePageHeaderDiv">
      <a href="/" id="homepageBtn">Chat Chat</a>
    </div>

    <div id="rightCorner">
      <a href="/register" class="rcBtns linkBtn">Register</a>
      <a href="/login" class="rcBtns linkBtn">Login</a>
      <a href="/admin" class="rcBtns linkBtn">Admin</a>
    </div>
    
    <a href="/go" id="beginChatBtn" class="linkBtn">Start Chatting!</a>

    <!-- bring in jQuery lib, plugin for cookies, and alert.js using CDN -->
    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    {{{body}}}

    <script src="js/main.js"></script>
  </body>
</html>